<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_u.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_u.email %>
</p>

<p>
  <strong>Message: </strong>
  <%= @contact_u.message %>
</p>

<%= link_to t('general.back_button'), contact_us_path %>
