<p id="notice"><%= notice %></p>

<p>
  <strong><%=t('contact_form.name')+ ":"%> </strong>
  <%= @contact_u.name %>
</p>

<p>
  <strong><%=t('contact_form.email')%></strong>
  <%= @contact_u.email %>
</p>

<p>
  <strong><%=t('contact_form.message')%></strong>
  <%= @contact_u.message %>
</p>

<%= link_to t('general.back_button'), contact_us_path %>
