
<!--Defines a mailer preview that can be viewed by typing: http://localhost:3000/rails/mailers/contact_mailer/contact_email
  This is also used as the default setup of the email being sent -->


<p>
  <%= "Dear #{t('titles.app_title')}," %>
</p>
<p>
  <%=t('contact.request_contact.heading_message')%>
</p>
<dt><%=t('contact_form.name') + ":"%></dt>
<dd>
  <%= @name %>
</dd>
<dt><%=t('contact_form.email') + ":"%></dt>
<dd>
  <%= @email %>
</dd>
<p>
  <%= @message %>
</p>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
