<p>
  <%= "Dear #{t('titles.app_title')}," %>
</p>
<p>
  <%=t('contact.request_contact.heading_message')%>
</p>
<dtName>:</dtName>
<dd>
  <%= @name %>
</dd>
<dt>Email:</dt>
<dd>
  <%= @email %>
</dd>
<p>
  <%= @message %>
</p>
<p>Thanks,</p>
<p>
  <%= @name %>
</p>
