<!DOCTYPE html>
<html>
  <head>
    <title><%=t('titles.app_title')%></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application" %>
  </head>
<%= render "layouts/header" %>
  <body>
    <% flash.each do |key, value| %>
  <%= content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank? %>
  <%end%>
    <%= yield %>
  <%= render "layouts/footer" %>

  </body>
</html>
